@import 'shared/styles/index.scss';
.footer {
  width: 100%;
  margin-top: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  padding: 4px;
  bottom: 0;
  div:first-child {
    margin-right: 5px;
  }
  @include smallHeight {
    font-size: 9px;
    line-height: 100%;
  }
  @include mobile {
    font-size: 9px;
    line-height: 100%;
  }
  @include middle {
    font-size: 10px;
  }
}
